* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.index_main,
.ope_top {
  font-family: "Microsoft YaHei", "STHeitiSC-Medium", "Droid Sans Fallback";
  min-width: 1220px;
}
input {
  font-family: "Microsoft YaHei", "STHeitiSC-Medium", "Droid Sans Fallback";
  outline: none;
  border: none;
}
input::-webkit-search-cancel-button {
  display: none;
}
input::-ms-clear {
  display: none;
}
a {
  color: #aaa;
}
.inline_block {
  display: inline-block;
}
/* 广告栏 B*/
.banner {
  height: 590px;
  position: relative;
  /*居中的bannert图片*/
  /*报名模块*/
}
.banner .bg_pic {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.banner .bg_pic .cover_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url('../img/banner.png') no-repeat;
}
.banner .login_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: rgba(51, 51, 51, 0.8);
}
.banner .login {
  height: 100%;
  /*左侧*/
  /*line*/
  /*右侧*/
}
.banner .login .free_take {
  height: 78px;
  padding-top: 22px;
  display: inline-block;
}
.banner .login img {
  width: 78px;
  height: 78px;
  display: inline-block;
  vertical-align: top;
}
.banner .login .text {
  display: inline-block;
  height: 78px;
  padding-left: 32px;
}
.banner .login .text p:first-child {
  color: #ff721f;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}
.banner .login .text p:last-child {
  color: #fff;
  font-size: 12px;
  height: 28px;
  width: none;
  line-height: 28px;
}
.banner .login .line {
  height: 43px;
  display: inline-block;
  margin-left: 30px;
  border-left: 1px dashed #ccc;
}
.banner .login .login_box {
  display: inline-block;
  vertical-align: bottom;
  height: 70px;
  padding-left: 30px;
  padding-top: 30px;
}
.banner .login .login_box input {
  width: 140px;
  height: 38px;
}
.banner .login .login_box .info_input {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 40px;
  width: 140px;
  height: 40px;
  background-color: #fff;
  margin-right: 18px;
  border-radius: 20px;
}
.banner .login .login_box .click_get {
  outline: none;
  border: none;
  width: 112px;
  height: 40px;
  background-color: #ff721f;
  border-radius: 20px;
}
/*广告栏 E*/
/*标题*/
.com_title {
  text-align: center;
  padding-top: 65px;
}
.com_title h2 {
  font-size: 36px;
  color: #585657;
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #a5a5a5;
}
.com_title p {
  font-size: 14px;
  color: #848484;
  height: 32px;
  line-height: 32px;
}
/*选装修 B*/
.choose_decorate {
  /*叠加轮播*/
  /*装修管家 bar*/
  /*装修数据框*/
  /*管家主题介绍*/
}
.choose_decorate ul {
  width: 100%;
  display: inline-block;
  padding-top: 50px;
  text-align: center;
  font-size: 0;
}
.choose_decorate .choose_decorate_tap li {
  height: 38px;
  width: 128px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border: 1px solid #ededed;
  border-radius: 18px;
}
.choose_decorate .choose_decorate_tap li:nth-child(-n+5) {
  margin-right: 20px;
}
.choose_decorate .choose_decorate_tap li a {
  font-size: 14px;
  color: #333;
}
.choose_decorate .choose_decorate_tap li:last-child {
  background-color: #ff721f;
}
.choose_decorate .choose_decorate_tap li:last-child a {
  color: #fff;
}
.choose_decorate .dec_swiper {
  width: 100%;
  height: 640px;
  margin-top: 60px;
  background: #ccc;
}
.choose_decorate .manager_bar {
  width: 100%;
  height: 1549px;
  margin-top: 120px;
  background: url("../img/manager_bar.png") no-repeat center center;
}
.choose_decorate .manager_bar_c {
  position: relative;
  height: 1549px;
}
.choose_decorate .dec_data {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 300px;
  text-align: center;
}
.choose_decorate .dec_data .dec_data_bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.5;
  z-index: 0;
}
.choose_decorate .dec_data .t1 {
  font-size: 14px;
}
.choose_decorate .dec_data .t1 span {
  font-size: 54px;
}
.choose_decorate .dec_data .t2 {
  font-size: 16px;
}
.choose_decorate .dec_data ul {
  position: relative;
  color: #fff;
  padding-top: 0px;
  width: 200px;
  height: ;
  z-index: 1;
}
.choose_decorate .dec_data li {
  padding-top: 58px;
  width: 100%;
  height: 116px;
}
.choose_decorate .dec_data li:nth-child(-n+4) {
  border-bottom: 1px dashed #fff;
}
.choose_decorate .dec_main {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 683px;
  font-size: 0;
  background: #fff;
}
.choose_decorate .dec_main .dec_note ul {
  width: 1220px;
  padding-top: 50px;
}
.choose_decorate .dec_main .dec_note ul li {
  display: inline-block;
  vertical-align: top;
  width: 536px;
}
.choose_decorate .dec_main .dec_note ul li img:first-child {
  vertical-align: top;
  margin-right: 15px;
}
.choose_decorate .dec_main .dec_note ul li:first-child {
  margin-right: 50px;
}
.choose_decorate .dec_main .dec_note ul .dec_info {
  height: 57px;
  font-size: 16px;
  line-height: 57px;
  color: #555;
}
.choose_decorate .dec_main .dec_note ul .dec_info i {
  display: inline-block;
  width: 0;
  height: 20px;
  margin: 0 20px;
  vertical-align: middle;
  border-left: 1px dashed #ccc;
}
.choose_decorate .dec_main .dec_note ul .dec_mes {
  text-align: center;
}
.choose_decorate .dec_main .dec_note ul .dec_mes .dec_mes_title {
  display: inline-block;
  height: 60px;
  width: 434px;
  font-size: 16px;
  color: #333;
  line-height: 60px;
  text-align: left;
  border-top: 1px solid #ddd;
}
.choose_decorate .dec_main .dec_note ul .dec_mes .dec_mes_title .line {
  display: inline-block;
  width: 0px;
  height: 24px;
  margin: 0 20px;
  vertical-align: middle;
  border-left: 2px solid #f76d2b;
}
.choose_decorate .dec_main .dec_note ul .dec_mes .dec_mes_detail {
  font-size: 14px;
  color: #888;
  line-height: 27px;
  text-align: left;
  padding-left: 158px;
}
.choose_decorate .dec_main .dec_note .more_dec_note {
  width: 100%;
  padding-top: 30px;
}
.choose_decorate .dec_main .dec_note .more_dec_note a {
  display: block;
  width: 126px;
  height: 37px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 37px;
  color: #fff;
  text-align: center;
  background: #f76d2b;
}
.choose_decorate .dec_main .dec_join_bar {
  width: 1191px;
  height: 72px;
  margin-top: 34px;
  padding-top: 28px;
  padding-left: 29px;
  background: #333;
}
.choose_decorate .dec_main .dec_join_bar .left_text {
  width: 285px;
  height: 44px;
  display: inline-block;
  border-right: 1px dashed #ccc;
}
.choose_decorate .dec_main .dec_join_bar .left_text p:first-child {
  font-size: 18px;
  color: #f76d2b;
  padding-bottom: 10px;
}
.choose_decorate .dec_main .dec_join_bar .left_text p:last-child {
  font-size: 14px;
  color: #fff;
}
.choose_decorate .dec_main .dec_join_bar .right_login_box {
  display: inline-block;
  padding-top: 2px;
  vertical-align: top;
}
.choose_decorate .dec_main .dec_join_bar .right_login_box input {
  background: rgba(0, 0, 0, 0);
}
.choose_decorate .dec_main .dec_join_bar .right_login_box div {
  display: inline-block;
  width: 120px;
  height: 38px;
  line-height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 20px;
  margin-left: 15px;
}
.choose_decorate .dec_main .dec_join_bar .right_login_box div:first-child {
  margin-left: 30px;
}
/*选装修 E*/
/* 灵感图库*/
.inspiration_pics {
  width: 100%;
  height: 2100px;
}
.inspiration_pics .inspics_tab_button {
  padding-top: 66px;
  text-align: center;
}
.inspiration_pics .inspics_tab_button li {
  display: inline-block;
  width: 120px;
  height: 24px;
  font-size: 18px;
  color: #333;
}
.inspiration_pics .inspics_tab_button li:nth-child(2) {
  border-left: 1px dashed #333;
  border-right: 1px dashed #333;
}
.inspiration_pics .inspics_tap_small {
  text-align: center;
  margin-top: 23px;
}
.inspiration_pics .inspics_tap_small li {
  display: inline-block;
  font-size: 14px;
}
.inspiration_pics .inspics_tap_small li.active {
  color: #f76d2b;
}
.inspiration_pics .inspics_tap_small i {
  margin: 0 10px;
}
.inspiration_pics .ins_pics {
  margin: 0 auto;
  width: 1220px;
  padding-top: 66px;
}
.inspiration_pics .ins_pics .dec_pic {
  margin-bottom: 2px;
  display: inline-block;
  vertical-align: top;
  width: 383px;
}
.inspiration_pics .ins_pics img {
  max-width: 100%;
}
.inspiration_pics .ins_pics .dec_pic_info {
  width: 383px;
  height: 85px;
}
.inspiration_pics .ins_pics .dec_pic_title {
  font-size: 16px;
  color: #000;
  line-height: 54px;
}
.inspiration_pics .ins_pics .line {
  width: 30px;
  height: 0;
  border-top: 1px solid #000;
}
.inspiration_pics .more_pics {
  width: 383px;
  height: 48px;
  margin: 0 auto;
  background-color: #333;
}
.inspiration_pics .more_pics a {
  display: inline-block;
  font-size: 16px;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 48px;
}
.strategy_decorate .strategy_detail {
  text-align: center;
  font-size: 0;
}
.strategy_decorate .strategy_detail .str_det {
  display: inline-block;
  width: 270px;
  text-align: left;
  padding-top: 20px;
}
.strategy_decorate .strategy_detail .str_det:nth-child(-n+2) {
  margin-right: 34px;
}
.strategy_decorate .strategy_detail .str_det h4 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  color: #f76d2b;
}
.strategy_decorate .strategy_detail .str_det p {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #888;
}
.strategy_decorate .strategy_detail .str_det .detail_infos li {
  height: 30px;
  line-height: 30px;
  list-style: disc;
  font-size: 14px;
}
.strategy_decorate .strategy_detail .str_det .detail_infos a {
  font-size: 14px;
  color: #333;
}
