* {
    margin: 0;
    padding: 0;
}
body{
    margin:0 auto;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

.index_main,.ope_top{
    font-family: "Microsoft YaHei", "STHeitiSC-Medium", "Droid Sans Fallback";
    min-width: 1220px;
}
input{
    font-family: "Microsoft YaHei", "STHeitiSC-Medium", "Droid Sans Fallback";
    outline: none;
    border:none;
}
input::-webkit-search-cancel-button{
    display: none;
}
input::-ms-clear{
    display: none;
}
a{
    color:#aaa;
}

.inline_block{
    display: inline-block;
}





/* 广告栏 B*/
.banner{
    height: 590px;
    // width: 100%;
    position: relative;
    /*居中的bannert图片*/
    .bg_pic{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .cover_img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background: url('../img/banner.png') no-repeat;
        }
    }
    /*报名模块*/
    .login_bar{
        position: absolute;
        left:0;
        bottom: 0;
        width: 100%;
        height:100px;
        background: RGBA(51,51,51,0.8);
        
        
    }
    .login{
        height: 100%;
        /*左侧*/
        .free_take{
            height: 78px;
            // width: 440px;
            padding-top:22px; 
            display: inline-block;           
        }
        img{
            width: 78px;
            height: 78px;          
            display: inline-block;
            vertical-align: top;
        }
        .text{
            display: inline-block;
            height: 78px;
            padding-left:32px;   
            p:first-child{
                color:#ff721f;
                font-size:18px;
                height: 30px;
                line-height:30px;
            } 
            p:last-child{
                color:#fff;
                font-size:12px;
                height: 28px;
                width: none;
                line-height:28px;
            } 
        }
        /*line*/
        .line{
            height: 43px;
            display: inline-block;
            margin-left:30px;
            border-left: 1px dashed #ccc
        }
        // HR{
        //     display: inline-block;
        // }
        /*右侧*/
        .login_box{
            display:inline-block;
            vertical-align: bottom; 
            height: 70px;  
            padding-left: 30px;
            padding-top:30px;         
            input{
                width: 140px;
                height: 38px;

            }
            .info_input{
                display:inline-block;
                // 去除这里的话 文字会影响布局
                vertical-align:top;
                padding-left:20px;
                padding-right:20px;
                line-height: 40px;
                width:140px;
                height:40px;
                background-color:#fff;
                margin-right:18px;
                border-radius: 20px;
            }
            .click_get{
                outline: none;
                border: none;
                width:112px;
                height:40px;
                background-color:#ff721f;
                border-radius:20px;
                
                
            }
        }
    }    

}
/*广告栏 E*/ 

/*标题*/
.com_title{
    text-align: center;
    padding-top:65px;
  h2{
    font-size:36px;
    color:#585657;
    height: 64px;
    line-height:64px;
    border-bottom:1px solid #a5a5a5;
  }  
  p{
    font-size:14px;
    color:#848484;
    height: 32px;
    line-height:32px;
  }
}


/*选装修 B*/
.choose_decorate{
    ul{        
        width:100%;    
        display: inline-block;
        padding-top:50px;
        text-align: center;
        font-size:0;
    }
    .choose_decorate_tap li{        
        height:38px;
        width:128px;
        line-height: 40px;        
        display:inline-block;
        text-align: center;
        border: 1px solid #ededed;
        border-radius: 18px;
        &:nth-child(-n+5){
            margin-right: 20px;
        }
        a{
            font-size:14px;
            color:#333;
        }
        &:last-child{
            background-color: #ff721f;
            a{
                color:#fff;
            }
        }
    }
    /*叠加轮播*/
    .dec_swiper{
        width: 100%;
        height:640px;
        margin-top:60px;
        background: #ccc;

    }
    /*装修管家 bar*/ 

    
    .manager_bar{
        width: 100%;
        height: 1549px;
        margin-top:120px;
        background:url("../img/manager_bar.png") no-repeat center center;
    }
    .manager_bar_c{
        position: relative;
        height: 1549px;;
    }
    /*装修数据框*/ 
    .dec_data{
        position: absolute;
        right: 0px;
        top:0px;
        width: 300px;
        text-align: center;

        .dec_data_bg{
            position: absolute;
            left: 0px;
            top:0px;
            width: 100%;
            height:100%;
            background: #333;
            opacity: 0.5;
            z-index: 0;
            
        }
        .t1{          
            font-size:14px;
            span{
                font-size:54px;
            }
        }
        .t2{
            font-size:16px;
        }
        ul{
            position: relative;
            color:#fff;            
            padding-top:0px;
            width: 200px;
            height:;
            z-index: 1;
            
        }
        li{
            padding-top:58px;
            width: 100%;
            height: 116px;
            &:nth-child(-n+4){
                border-bottom:1px dashed #fff;
            }            
        }
    }
    /*管家主题介绍*/ 
    .dec_main{
        position: absolute;
        left:0;
        bottom: 0;
        width: 100%;
        height: 683px;
        font-size: 0;
        background: #fff;
        // 装修日记
        .dec_note{
            ul{
                width: 1220px;
                padding-top:50px;
                li{
                    display: inline-block;
                    vertical-align: top;
                    width: 536px;
                    img:first-child{
                        vertical-align: top;
                        margin-right: 15px;
                        
                    }
                    &:first-child{
                        margin-right: 50px;
                    }
                }
                .dec_info{
                    height: 57px;
                    font-size:16px;
                    line-height: 57px;
                    color:#555;
                    i{
                        display: inline-block;
                        width: 0;
                        height: 20px;                    
                        margin:0 20px;
                        vertical-align: middle;
                        border-left:1px dashed #ccc;                   
                        
                    }
                }
                .dec_mes{
                    text-align: center;
    
                    .dec_mes_title{
                        display: inline-block;
                        height: 60px;
                        width: 434px;
                        font-size:16px;
                        color:#333;
                        line-height: 60px;
                        text-align: left;
                        border-top:1px solid #ddd;
                        .line{
                            display: inline-block;
                            width: 0px;
                            height: 24px;
                            margin:0 20px;
                            vertical-align: middle;
                            border-left:2px solid #f76d2b;
                        }
                    }
                    .dec_mes_detail{
                        font-size:14px;
                        color:#888;
                        line-height: 27px;
                        text-align: left;
                        padding-left:158px;
                    }
                }
            }
            .more_dec_note{
                width: 100%;
                padding-top:30px;
                a{
                    display: block;
                    width: 126px;
                    height: 37px;
                    margin: 0 auto;  
                    font-size: 16px;
                    line-height: 37px;
                    color:#fff;     
                    text-align: center;
                    background: #f76d2b;
                }
            }
        }
        // 服务申请
        .dec_join_bar{
            width: 1191px;
            height: 72px;
            margin-top:34px;
            padding-top:28px;
            padding-left:29px;
            background: #333;
            .left_text{
                width: 285px;
                height: 44px;
                display: inline-block;
                border-right: 1px dashed #ccc;
                p{
                    &:first-child{
                        font-size:18px;
                        color:#f76d2b;
                        padding-bottom: 10px;
                    }
                    &:last-child{
                        font-size:14px;
                        color:#fff;
                    }
                }
                
            }
            // 
            .right_login_box{
                display: inline-block;
                padding-top:2px;
                vertical-align: top;
                input{
                    background: RGBA(0,0,0,0);
                }
                div{
                    display: inline-block;
                    width: 120px;
                    height: 38px;
                    line-height: 40px;
                    border:1px solid #ccc;
                    border-radius: 20px;
                    padding:0 20px;
                    margin-left:15px;
                    &:first-child{
                        margin-left: 30px;
                    }
                }
            }
        }       
    };
    

}
/*选装修 E*/



/* 灵感图库*/ 

.inspiration_pics{
    width: 100%;
    height:1000px;
    .inspics_tab_button{
         padding-top:66px;                
        text-align: center;
        li{
            display: inline-block;
            width: 120px;
            height: 24px;
            font-size: 18px;
            color:#333;
            &:nth-child(2){
                border-left:1px dashed #333;
                border-right: 1px dashed #333;
            }
        }
        
    }  
    .inspics_tap_small{
        text-align: center;
        margin-top:23px;
        li{
            display: inline-block;
            font-size:14px;
            &.active{
                color:#f76d2b;
            }
        }
        i{
            margin:0 10px;
        }
    } 

    // 灵感图库 tap
    .ins_pics{
        margin: 0 auto;
        width: 1220px;
            div{
                margin-bottom: 2px;
                float: left;
                width: 500px;
            }
            .dec_pic1{
                height: 100px;
                border-bottom:2px solid #fff;
                background: #ccc;
            }
            .dec_pic2{
                height: 120px;
                border-bottom:2px solid #fff;
                background: #ccc;
            }
            .dec_pic3{
                height: 50px;
                border-bottom:2px solid #fff;
                background: #ccc;
            }
            .dec_pic4{
                height: 60px;
                border-bottom:2px solid #fff;
                background: #ccc;
            }
            .dec_pic5{
                height: 150px;
                border-bottom:2px solid #fff;
                background: #ccc;
            }
            .dec_pic6{
                height: 300px;
                border-bottom:2px solid #fff;
                background: #ccc;
            }
        }
    }


    // 装修攻略


