/*装修前 tab s*/

.befor_decorate_tab {
  position: relative;
}

.bf_dec_content {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.bf_dec_content:hover {}

.be_de_list {
  width: 323px;
  height: 499px;
  border: 1px solid #e1e1e1;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -180px;
  margin-top: -250px;
  opacity: 0;
  z-index: 0;
  -webkit-transition: 0.2s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  padding: 0 20px;
  overflow: hidden;
  background: #fff;
}

.be_de_list.bf_dec_c {
  border-color: #f60;
  -webkit-box-shadow: 0 0 5px #ddd;
  box-shadow: 0 0 5px #ddd;
}

.be_de_list .befor_de_img {
  background-color: red;
  height: 100px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.bf_dec_l2,
.bf_dec_l1,
.bf_dec_c,
.bf_dec_r1,
.bf_dec_r2 {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.bf_dec_c .comp_logo {
  font-size: 22px;
}

.bf_dec_l1 .comp_logo,
.bf_dec_r1 .comp_logo {
  font-size: 20px;
}

.bf_dec_l1 .comp_logo img,
.bf_dec_r1 .comp_logo img {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.bf_dec_l2 .comp_logo img,
.bf_dec_r2 .comp_logo img {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.bf_dec_c {
  z-index: 3;
}

.bf_dec_l1,
.bf_dec_r1 {
  width: 254px;
  height: 419px;
  z-index: 2;
  margin-top: -210px;
}

.bf_dec_l2,
.bf_dec_r2 {
  width: 181px;
  height: 340px;
  z-index: 1;
  margin-top: -170px;
}

.befor_de_img {
  width: 100%;
  overflow: hidden;
}

.bf_dec_c .befor_de_img {
  height: 334px;
}

.befor_de_img img {
  width: 100%;
  height: 100%;
}

.bf_dec_r1 .befor_de_img,
.bf_dec_l1 .befor_de_img {
  height: 254px;
  width: 254px;
}

.bf_dec_r2 .befor_de_img,
.bf_dec_l2 .befor_de_img {
  height: 180px;
  width: 180px;
}

.befor_de_text {
  text-align: center;
}

.befor_de_text h2 {
  color: #333;
  font-size: 24px;
  margin-top: 10px;
  line-height: 46px;
  font-weight: normal;
  letter-spacing: 2px;
}

.befor_de_text p {
  color: #999;
  font-size: 16px;
  line-height: 1em;
}

.bf_dec_l1 {
  left: 240px;
  margin-left: 0;
}

.bf_dec_r1 {
  /*left:auto;*/
  /*right:240px;*/
  left: 700px;
  margin-left: 0;
}

.bf_dec_l1 h2,
.bf_dec_r1 h2 {
  font-size: 20px;
}

.bf_dec_l2 h2,
.bf_dec_r2 h2 {
  font-size: 18px;
}

.bf_dec_l2 {
  left: 50px;
  margin-left: 0;
}

.bf_dec_r2 {
  /*left:auto;*/
  /*right:50px;*/
  /*margin-left:0;*/
  left: 1127px;
}

.bf_dec_button .left_minu,
.bf_dec_button .right_minu {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%;
  width: 42px;
  height: 75px;
  margin-top: -23px;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  background: url(../img/main-img/contrast_silder.png) no-repeat;
}

.bf_dec_button .left_minu {
  left: 0;
  background-position: 0 -79px;
}

.bf_dec_button .right_minu {
  right: 0;
  background-position: 0 0;
}

.bf_dec_button .left_minu:hover,
.bf_dec_button .right_minu:hover {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}